$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
.header{
    border-bottom: 1px solid #ddd;

}



.sortable-list{
  width:440px;

  .jobs-container{
    width:100px;  
    float:left;
    margin-right: 10px;
  }


  .job{
    list-style: none;
    border:1px solid #ddd;
    padding:10px;
    background-color: #f3f3f3;
    cursor:pointer;
    float:left;
    margin-bottom:10px;
    &:hover{
      background-color: #e8e8f3;
    }

  }

  .btn{
    float:left;
    margin-left: 10px;
  }

}

.one-list{
  width:170px;
  .job{
    list-style: none;
    border:1px solid #ddd;
    padding:10px;
    margin-bottom: 3px;
    background-color: #f3f3f3;
    cursor:pointer;
    float:left;
    &:hover{
      background-color: #e8e8f3;
    }
  }
  

  .btns{
    width:180px;
    .btn{
      float:left;
      margin-right: 10px;
      margin-top: 10px;
    }
  }


}
.moved-jobs{
  margin-top: 30px;
}
