$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
.header{
    border-bottom: 1px solid #ddd;
}

.td-style{
  border:1px solid #ddd;
    padding:10px;
    background-color: #f3f3f3;
    cursor:pointer;
    float:left;
    margin-bottom:10px;
    &:hover{
      background-color: #e8e8f3;
    }
}

.sortable-list{
  width:440px;

  .jobs-container{
    width:160px;
    float:left;
  }

  .job{
    width:150px;
    @extend .td-style;
  }
}

.one-list{
  width:170px;
  .job{
    @extend .td-style;
  }
}

.moved-jobs{
  margin-top: 30px;
}

.btn{
  float:left;
}
